.proposal{
 /* background-color: aqua; */
 color: rgb(255, 166, 0);
 height:5vh;
 width: 30vw;
 margin: auto;
 margin-top: 100px;
}
body{
 background-image: url(date.jpg);
}
.greet{
 /* background-color: aqua; */
 color: aqua;
 height:5vh;
 width:15vw;
 margin: auto;
 text-align: center;
}
.btn{
 /* background-color: aqua; */
 height:5vh;
 width:15vw;
 margin: auto;
 margin-top: 250px;
 text-align: center;
 
}
#yes{
 background-color: blue;
 height: 5vh;
 width:10vw;
 color: white;
 /* margin: 5px; */
}
#no{
 background-color: blue;
 height: 5vh;
 width:10vw;
 color: white;
}